.option{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color:rgb(243, 0, 0);
  width:full;
  height:50vh;
  display: flex;
  align-items: center;
  justify-self: center;
  text-decoration: solid;
}

/* HTML: <div class="loader"></div> */
.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  position: relative;
  top:11rem;
  left:50%;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
.all{
 
 
  height:100%;
  text-align: center;
  margin-left:1rem;
  margin-right:1rem;
}
.span{
  color: red;
}